.loader {
    --size: 64px;
    --ring-size: 5px;
    --color: var(--cl-black);
    --time: 1000ms;

    width: var(--size);
    height: var(--size);

    &::after {
        content: '';
        display: block;
        height: 100%;
        border: var(--ring-size) solid var(--color);
        border-right-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;
        animation: ring var(--time) linear infinite;
    }

    @keyframes ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
