@import './mixins.scss';
@import './variables.scss';
@mixin container {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        @include mq($xxl) {
            max-width: none;
            margin-left: 0px;
            margin-right: 0px;
            padding: 0 60px;
        }
        @include mq($xl) {
            padding: 0 40px;
        }
        @include mq($lg) {
            padding: 0 36px;
        }
        @include mq($md) {
            padding: 0 32px;
        }
        @include mq($sm) {
            padding: 0 24px;
        }
        @include mq($xs) {
            padding: 0 16px;
        }
    }
}
