@use 'mixins';
@use 'variables';
@mixin container {
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        @include mixins.mq(variables.$xxl) {
            max-width: none;
            margin-left: 0px;
            margin-right: 0px;
            padding: 0 60px;
        }
        @include mixins.mq(variables.$xl) {
            padding: 0 40px;
        }
        @include mixins.mq(variables.$lg) {
            padding: 0 36px;
        }
        @include mixins.mq(variables.$md) {
            padding: 0 32px;
        }
        @include mixins.mq(variables.$sm) {
            padding: 0 24px;
        }
        @include mixins.mq(variables.$xs) {
            padding: 0 16px;
        }
    }
}
