@import '../../../scss/tokens/mixins';
@import '../../../scss/tokens/functions';

.iconsAutokit {
    padding-top: gs(2);
    @include bodyTypography;

    &_layout {
        display: flex;
        flex-wrap: wrap;
        gap: gs(2);
        margin-bottom: gs(2);
    }

    &_title {
        margin-bottom: gs(2);
    }
}
