.icons-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(var(--gs) * 20), 1fr));
    grid-gap: calc(var(--gs) * 4);
}

.icon-token {
    --icon-size: calc(var(--gs) * 3);

    display: flex;
    align-items: center;

    &__icon {
        width: var(--icon-size);
        height: var(--icon-size);
        margin-right: var(--gs);
    }
}
